.footer{
	clear: both;
	text-align: center;
}

.job-box{
	border: solid 1px #ddd;
	border-radius: 10px;
	padding: 15px;
	margin-bottom: 20px;
}

.company-list,
.job-list{
	margin-top: 15px;
}

.list-title {
	margin: 0 15px;
}

.list-more {
	text-align: center;
	margin-bottom: 50px;
}

.list-more-btn {
	padding: 10px 100px;
}

.company-list {
	text-align: center;	
}

a,
a:hover,
a:visited {
  cursor: pointer;
  color: #333;
  text-decoration: none !important;
}

.form {
	width: 400px;
	margin: 0 auto;
}
