{% extends "base.html" %}

{% block title%}
Jobplus
{% endblock%}

{% block head%}
<div class="jumbotron">
	<div class="container">
	<h1>JOBPLUS</h1>
	<p>领先的互联网求职、招聘平台</p>
	</div>
</div>
{% endblock%}


{% block body%}
<ul class="nav nav-tabs list-title">
  <li role="presentation" class="active"><a href="#">最新职位</a></li>
</ul>

<div class="job-list">

<div class="col-sm-6 col-md-4">
  <div class="job-box">
      <div class="caption">
        <a href="#">
        <b>测试工程师</b> <span class="timesince">[2月前]</span>
        <p>经验3 年 学历本科</p>
        
        <span class="label label-default">奋斗史</span>
        
        <span class="label label-default">打飞的</span>
        
        </a>
      </div>
      <hr>
      <div class="media">
        <div class="media-left">
          <a href="#">
          <img class="media-object" src="https://static.lagou.com/thumbnail_300x300/i/image/M00/3E/22/CgqKkVdzobeAB7eoAAIUnE7Fe1M567.png" width="40" height="40" alt="...">
          </a>
          </div>
          <div class="media-body">
          <a href="#">
          <h4 class="media-heading">实验楼</h4>
          </a>
          <span class="company-meta">在线教育/A轮/成都高新区</span>
          </div>
        </div>
    </div>
</div>

<div class="col-sm-6 col-md-4">
  <div class="job-box">
      <div class="caption">
        <a href="#">
        <b>测试工程师</b> <span class="timesince">[2月前]</span>
        <p>经验3 年 学历本科</p>

        <span class="label label-default">奋斗史</span>

        <span class="label label-default">打飞的</span>

        </a>
      </div>
      <hr>
      <div class="media">
        <div class="media-left">
          <a href="#">
          <img class="media-object" src="https://static.lagou.com/thumbnail_300x300/i/image/M00/3E/22/CgqKkVdzobeAB7eoAAIUnE7Fe1M567.png" width="40" height="40" alt="...">
          </a>
          </div>
          <div class="media-body">
          <a href="#">
          <h4 class="media-heading">实验楼</h4>
          </a>
          <span class="company-meta">在线教育/A轮/成都高新区</span>
          </div>
        </div>
    </div>
</div>

<div class="col-sm-6 col-md-4">
  <div class="job-box">
      <div class="caption">
        <a href="#">
        <b>测试工程师</b> <span class="timesince">[2月前]</span>
        <p>经验3 年 学历本科</p>

        <span class="label label-default">奋斗史</span>

        <span class="label label-default">打飞的</span>

        </a>
      </div>
      <hr>
      <div class="media">
        <div class="media-left">
          <a href="#">
          <img class="media-object" src="https://static.lagou.com/thumbnail_300x300/i/image/M00/3E/22/CgqKkVdzobeAB7eoAAIUnE7Fe1M567.png" width="40" height="40" alt="...">
          </a>
          </div>
          <div class="media-body">
          <a href="#">
          <h4 class="media-heading">实验楼</h4>
          </a>
          <span class="company-meta">在线教育/A轮/成都高新区</span>
          </div>
        </div>
    </div>
</div>

<div class="col-sm-6 col-md-4">
  <div class="job-box">
      <div class="caption">
        <a href="#">
        <b>测试工程师</b> <span class="timesince">[2月前]</span>
        <p>经验3 年 学历本科</p>

        <span class="label label-default">奋斗史</span>

        <span class="label label-default">打飞的</span>

        </a>
      </div>
      <hr>
      <div class="media">
        <div class="media-left">
          <a href="#">
          <img class="media-object" src="https://static.lagou.com/thumbnail_300x300/i/image/M00/3E/22/CgqKkVdzobeAB7eoAAIUnE7Fe1M567.png" width="40" height="40" alt="...">
          </a>
          </div>
          <div class="media-body">
          <a href="#">
          <h4 class="media-heading">实验楼</h4>
          </a>
          <span class="company-meta">在线教育/A轮/成都高新区</span>
          </div>
        </div>
    </div>
</div>

<div class="col-sm-6 col-md-4">
  <div class="job-box">
      <div class="caption">
        <a href="#">
        <b>测试工程师</b> <span class="timesince">[2月前]</span>
        <p>经验3 年 学历本科</p>

        <span class="label label-default">奋斗史</span>

        <span class="label label-default">打飞的</span>

        </a>
      </div>
      <hr>
      <div class="media">
        <div class="media-left">
          <a href="#">
          <img class="media-object" src="https://static.lagou.com/thumbnail_300x300/i/image/M00/3E/22/CgqKkVdzobeAB7eoAAIUnE7Fe1M567.png" width="40" height="40" alt="...">
          </a>
          </div>
          <div class="media-body">
          <a href="#">
          <h4 class="media-heading">实验楼</h4>
          </a>
          <span class="company-meta">在线教育/A轮/成都高新区</span>
          </div>
        </div>
    </div>
</div>

<div class="col-sm-6 col-md-4">
  <div class="job-box">
      <div class="caption">
        <a href="#">
        <b>测试工程师</b> <span class="timesince">[2月前]</span>
        <p>经验3 年 学历本科</p>

        <span class="label label-default">奋斗史</span>

        <span class="label label-default">打飞的</span>

        </a>
      </div>
      <hr>
      <div class="media">
        <div class="media-left">
          <a href="#">
          <img class="media-object" src="https://static.lagou.com/thumbnail_300x300/i/image/M00/3E/22/CgqKkVdzobeAB7eoAAIUnE7Fe1M567.png" width="40" height="40" alt="...">
          </a>
          </div>
          <div class="media-body">
          <a href="#">
          <h4 class="media-heading">实验楼</h4>
          </a>
          <span class="company-meta">在线教育/A轮/成都高新区</span>
          </div>
        </div>
    </div>
</div>

</div>

<p class="list-more">
<a href="#" class="btn btn-success btn-lg list-more-btn">查看更多</a>
</p>

<ul class="nav nav-tabs list-title">
<li role="presentation" class="active"><a href="#">最新公司</a></li>
</ul>

<div class="company-list">

<div class="col-sm-6 col-md-3 company-item">
  <div class="thumbnail">
    <a href="#">
      <img src="https://static.lagou.com/thumbnail_160x160/image1/M00/00/16/CgYXBlTUWEaAaB5jAACYgc4pee4229.png" width="100" height="100" alt="...">
      <h3>果壳网</h3>
      <p>移动互联网,社交网络</p>
    </a>
  <hr>
  <a href="#">
    <p>在招职位：6</p>
  </a>
  </div>
</div>

<div class="col-sm-6 col-md-3 company-item">
  <div class="thumbnail">
    <a href="#">
      <img src="https://static.lagou.com/thumbnail_160x160/image1/M00/00/16/CgYXBlTUWEaAaB5jAACYgc4pee4229.png" width="100" height="100" alt="...">
      <h3>果壳网</h3>
      <p>移动互联网,社交网络</p>
    </a>
  <hr>
  <a href="#">
    <p>在招职位：6</p>
  </a>
  </div>
</div>

<div class="col-sm-6 col-md-3 company-item">
  <div class="thumbnail">
    <a href="#">
      <img src="https://static.lagou.com/thumbnail_160x160/image1/M00/00/16/CgYXBlTUWEaAaB5jAACYgc4pee4229.png" width="100" height="100" alt="...">
      <h3>果壳网</h3>
      <p>移动互联网,社交网络</p>
    </a>
  <hr>
  <a href="#">
    <p>在招职位：6</p>
  </a>
  </div>
</div>

<div class="col-sm-6 col-md-3 company-item">
  <div class="thumbnail">
    <a href="#">
      <img src="https://static.lagou.com/thumbnail_160x160/image1/M00/00/16/CgYXBlTUWEaAaB5jAACYgc4pee4229.png" width="100" height="100" alt="...">
      <h3>果壳网</h3>
      <p>移动互联网,社交网络</p>
    </a>
  <hr>
  <a href="#">
    <p>在招职位：6</p>
  </a>
  </div>
</div>

<div class="col-sm-6 col-md-3 company-item">
  <div class="thumbnail">
    <a href="#">
      <img src="https://static.lagou.com/thumbnail_160x160/image1/M00/00/16/CgYXBlTUWEaAaB5jAACYgc4pee4229.png" width="100" height="100" alt="...">
      <h3>果壳网</h3>
      <p>移动互联网,社交网络</p>
    </a>
  <hr>
  <a href="#">
    <p>在招职位：6</p>
  </a>
  </div>
</div>

<div class="col-sm-6 col-md-3 company-item">
  <div class="thumbnail">
    <a href="#">
      <img src="https://static.lagou.com/thumbnail_160x160/image1/M00/00/16/CgYXBlTUWEaAaB5jAACYgc4pee4229.png" width="100" height="100" alt="...">
      <h3>果壳网</h3>
      <p>移动互联网,社交网络</p>
    </a>
  <hr>
  <a href="#">
    <p>在招职位：6</p>
  </a>
  </div>
</div>

<div class="col-sm-6 col-md-3 company-item">
  <div class="thumbnail">
    <a href="#">
      <img src="https://static.lagou.com/thumbnail_160x160/image1/M00/00/16/CgYXBlTUWEaAaB5jAACYgc4pee4229.png" width="100" height="100" alt="...">
      <h3>果壳网</h3>
      <p>移动互联网,社交网络</p>
    </a>
  <hr>
  <a href="#">
    <p>在招职位：6</p>
  </a>
  </div>
</div>

<div class="col-sm-6 col-md-3 company-item">
  <div class="thumbnail">
    <a href="#">
      <img src="https://static.lagou.com/thumbnail_160x160/image1/M00/00/16/CgYXBlTUWEaAaB5jAACYgc4pee4229.png" width="100" height="100" alt="...">
      <h3>果壳网</h3>
      <p>移动互联网,社交网络</p>
    </a>
  <hr>
  <a href="#">
    <p>在招职位：6</p>
  </a>
  </div>
</div>

</div>

<p class="list-more">
<a href="#" class="btn btn-success btn-lg list-more-btn">查看更多</a>
</p>
{% endblock%}
